<h3>My Patches</h3>

{{#if patches}}
  <ul>
    {{#each patches}}
      <li class="patch-thumb"><a href="/quilts/view/{{_quilt}}"><img src="/patch/svg/{{uid}}"} /></a> [{{status}}]</li>
    {{/each}}
  </ul>
{{/if}}