@import "../components/bootstrap/scss/_variables.scss";
@import "../components/bootstrap/scss/_mixins.scss";
@import "../components/bootstrap/scss/_normalize.scss";
@import "../components/bootstrap/scss/_utilities.scss";
@import "../components/bootstrap/scss/_grid.scss";
@import "../components/bootstrap/scss/_nav.scss";
@import "../components/bootstrap/scss/_modal.scss";

body {
  padding: 25px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
