#my-squares {
  .contents {
    padding-top: 0;
  }
  .patch-thumb {
    position: relative;
    border: 1px solid $gray-dark;
    overflow: hidden;

    /* Rotate the link block to create a triangular hit area */
    .download-link {
      position: absolute;
      width: 85%;
      height: 0;
      bottom: 0;
      right: 0;
      transform: translateX(75%) translateY(60%) rotate(-45deg);
      transform-origin: bottom right;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
      &:before,
      &:after {
        content: '';
        display: block;
      }
      &:after {
        padding-bottom: 100%;
        transform: translateY(-100%);
        background-color: $white;
        border-top: 1px solid $gray-dark;
        opacity: .85;
      }
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        /* Rotate in the opposite direction and position */
        transform: translateX(110%) translateY(-235%) rotate(45deg);
        z-index: 500;
        color: rgba($gray-dark, .85);
      }
    }
    .thumb {
      &:hover {
        &+.download-link {
          opacity: 1;
        }
      }
    }
  }
}
#my-quilts,
#all-quilts {
  .quilt-item {
    display: block;
    padding: 0 0 .75em 0;
    min-height: 2.75rem;
    box-sizing: border-box;
  }
  .icon-lock {
    position: relative;
    bottom: -.20em;
  }
  .icon-lock,
  .icon-trash,
  .edit-action,
  .delete-action,
  .input-field {
    display: inline-block;
  }
  .icon-android-close,
  .edit-input,
  .delete-action,
  .input-field {
    display: none;
  }
  .view-link,
  .icon-edit {
    display: inline-block;
  }
  .edit-input {
    width: 45%;
    margin: 0;
  }
  .view-link {
    padding: .25em .2em;
    height: 2.55rem;
    vertical-align: middle;
  }
  .input-field {
    width: 30%;
    position: relative;
    margin: 0;
    height: 2.5rem;
    box-sizing: border-box;

    input[type=text] {
      height: 2.5rem;
    }
    .select-dropdown {
      font-size: 1em;
    }
    .dropdown-content {
      background-color: $white;
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
    }
  }
  .edit-action,
  .delete-action {
    vertical-align: middle;
    padding: 0 .2em;
    line-height: 100%;
    font-size: 1.15em;
    color: $off-black;
    background-color: $off-gray;
  }
  .delete-action {
    height: 1.5em;
    padding: 0 .25em;

    .icon {
      vertical-align: middle;
      line-height: 1.4;
    }
  }
  .edit-mode {
    .icon-android-close,
    .delete-action,
    .edit-input,
    .input-field {
      display: inline-block;
    }
    .icon-edit,
    .view-link {
      display: none;
    }
  }
}
