#my-squares {
  .contents {
    padding-top: 0;
  }
  .patch-thumb {
    position: relative;
    border: 1px solid $gray-dark;
    overflow: hidden;

    .download-link {
      position: absolute;
      width: 85%;
      height: 0;
      bottom: 0;
      right: 0;
      transform: translateX(75%) translateY(60%) rotate(-45deg);
      transform-origin: bottom right;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
      &:before,
      &:after {
        content: '';
        display: block;
      }
      /*
      &:before {
        width: 0;
        height: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: .85;
        @include triangle-bottom-right(2.5em, $white);
        @include media-breakpoint-up(md) {
          @include triangle-bottom-right(3.5em, $white);
        }
      }
      */
      &:after {
        padding-bottom: 100%;
        transform: translateY(-100%);
        background-color: $white;
        border-top: 1px solid $gray-dark;
        opacity: .85;
      }
      .icon {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(110%) translateY(-235%) rotate(45deg);
        z-index: 500;
        color: rgba($gray-dark, .85);
      }
    }
    .thumb {
      &:hover {
        &+.download-link {
          opacity: 1;
        }
      }
    }
  }
}
#my-quilts {
  li {
    display: block;
    padding: 0 0 .75em 0;
  }
  .icon-lock {
    position: relative;
    bottom: -.15em;
  }
  .icon-lock,
  .icon-trash,
  .edit-action,
  .delete-action {
    display: inline-block;
  }
  .icon-android-close,
  .edit-input,
  .delete-action {
    display: none;
  }
  .view-link,
  .icon-edit {
    display: inline;
  }
  .view-link {
    padding-left: .2em;
  }
  .edit-action,
  .delete-action {
    vertical-align: middle;
    padding: 0 .2em;
    line-height: 100%;
    font-size: 1.15em;
    color: $off-black;
    background-color: $off-gray;
  }
  .delete-action {
    height: 1.5em;
    padding: 0 .25em;

    .icon {
      vertical-align: middle;
      line-height: 1.4;
    }
  }
  .edit-mode {
    .icon-android-close,
    .delete-action,
    .edit-input {
      display: inline-block;
    }
    .icon-edit,
    .view-link {
      display: none;
    }
  }
}