#forgot-password {
  @include accent-background();
  height: 100%;

  .header-menu {
    border-bottom: 0;
    a,
    .icon {
      color: $white;
    }
  }
  .recover-password-form {
    text-align: center;

    h2 {
      font-weight: 500;
    }
    label[for=email] {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
    }
    ::-webkit-input-placeholder {
      text-align: center;
    }
    :-moz-placeholder { /* Firefox 18- */
      text-align: center;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      text-align: center;
    }
    :-ms-input-placeholder {
      text-align: center;
    }
    .g-recaptcha {
      transform:scale(0.96);
      transform-origin:0 0;
    }
    .recover-password-button {
      margin: 1.5em auto;
    }
  }
}