#home {
  .contents {
    padding: 0;
  }
  .user-menu {
    display: none;
  }
  #quilt-nav-container {
    .quilt-list {
      width: 100%;
    }
    .quilt-nav,
    .quilt {
      display: none;
    }
    .active {
      display: block;
    }
  }
  #quilt-thumbnails-container {
    width: 100%;
    height: auto;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-left: 15%;

    #quilt-thumbnails {
      white-space: nowrap;
      @include clearfix();

      .quilt-thumbnail {
        display: inline-block;
        position: relative;
        width: 25%;
        padding: 0 0.75em 0.75em 0;
        box-sizing: border-box;

        &:last-child {
          padding-right: 0;
        }
        .thumb {
          display: block;
          width: 100%;
          background-color: $off-gray;

          &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
          &.new {
            background-color: $off-gray;
            position: relative;

            &:before {
              color: $secondary-brand-color;
              font-family: creative-kind;
              font-size: 2.5em;
              content: "D";
              display: inline-block;
              line-height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
            }
          }
        }
        &.active {
          .thumb {
            background-color: $primary-brand-color;
          }
        }
      }
    }
  }

  /*
  &.modal-open {
    .modal {
      z-index: 450;
    }
    .modal-backdrop {
      z-index: 400;
      background-color: rgba($gray, 0);
    }
    .header-menu {
      .title,
      .sub-menu-toggle {
        z-index: 475;
      }
      .account-nav-toggle,
      .sub-menu-toggle {
        position: relative;
      }
      .title {
        color: $white;
      }
      .account-nav-toggle {
        visibility: hidden;
      }
    }
    .btn {
      border-radius: .5em;
    }
    .view-quilt-link {
      color: $white;
    }
  }
  */
}