#home {
  .contents {
    padding: 0;
  }
  .user-menu,
  #quilt-nav-container {
    display: none;
  }
  /*
  &.modal-open {
    .modal {
      z-index: 450;
    }
    .modal-backdrop {
      z-index: 400;
      background-color: rgba($gray, 0);
    }
    .header-menu {
      .title,
      .sub-menu-toggle {
        z-index: 475;
      }
      .account-nav-toggle,
      .sub-menu-toggle {
        position: relative;
      }
      .title {
        color: $white;
      }
      .account-nav-toggle {
        visibility: hidden;
      }
    }
    .btn {
      border-radius: .5em;
    }
    .view-quilt-link {
      color: $white;
    }
  }
  */
}