#login-signup,
#login,
#signup {

  a,
  button {
    color: $white;
  }
  .header-menu {
    border-bottom: none;

    .title {
      color: white;
    }
  }
  .nav {
    display: none;
  }
  .login-signup {
    padding: 0;

    h2 {
      margin-bottom: 1.75em;
    }
    label,
    .input-field {
      color: $white;
      text-align: left;
    }
    ::-webkit-input-placeholder {
      color: $white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $white;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
      color: $white;
    }
    :-ms-input-placeholder {
      color: $white;
    }
    input,
    input:-webkit-autofill {
      color: $primary-brand-color;
      border-bottom: 1px solid $white;

      &:focus {
        box-shadow: 0 1px 0 0 $primary-brand-color;
        border-bottom: 1px solid $primary-brand-color;
      }
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $secondary-brand-color inset;
      -webkit-text-fill-color: $primary-brand-color !important;
    }
  }
  .signup-form {
    .signup-field {
      text-align: center;
    }
  }
  .login-form {
    .user-utils {
      margin: .5em auto 1.75em;
      @include make-row();

      li {
        font-size: .85em;
        @include make-col-ready();
        @include make-col(6);

        &.forgot-password {
          text-align: right;
        }
      }
    }
  }
}
#login {
  @include dark-background();
}
#signup {
  @include light-background();
}