#login-signup {
  @include dark-background();

  a,
  button {
    color: $white;
  }
  .header-menu {
    border-bottom: none;
  }
  .login-signup {
    padding: 1em 0;
  }
  .signup-form {
    label,
    .input-field {
      color: $white;
    }
    .input-email {
      border-bottom: 1px solid $white;
    }
  }
}