#view-quilt {
  .modal-backdrop {
  }
  //.contents {
  //  @include media-breakpoint-up(md) {
  //    height: 100%;
  //    margin-top: -6em;
  //    padding-top: 6em;
  //    box-sizing: border-box;
  //  }
  //}
  //.quilt-container {
  //
  //  @include media-breakpoint-up(md) {
  //    height: 90%;
  //  }
  //}
  .contents {
    .patch-actions {
      display: none;
    }
  }
}
#create-quilt-form {
  .selected-theme {
    display: none;
  }
  .submit-create-quilt {
    @extend .btn;
    width: 100%;
    background-color: $primary-brand-color;
    color: $white;
  }
}