<section>
  <article>

    <h3>About Us</h3>
    <p>
      Creative Kind started as a curiosity to discover the creative possibilities that can be realized when people come together to create.
    </p>
    <p>
      Please enjoy this opportunity to be your most creative self by submitting a square to our online quilt. Once a quilt is complete, a matching garment will be produced and donated to the Red Door Family Shelter.
    </p>
    <p>We are all creative beings.</p>
    <p>Welcome to Creative Kind.</p>

  </article>
</section>