<section>
  <article>

    <h3>About Us</h3>
    <p>
      Creative Kind started as a curiosity to discover the creative possibilities that can be realized when people come together to create.
    </p>
    <p>
      We are a new community-based design initiative with a charitable and retail focus. As the name suggests, the business is all about tapping into the creative potential in all of us. Humankind is creative. And it is also in our humanity to give back, to be kind.
    </p>
    <p>
      Please enjoy this opportunity to be your most creative self by submitting a square to our online quilt. Once a quilt is complete, a matching garment will be produced and donated to the Red Door Family Shelter.
    </p>
    <p>Welcome to Creative Kind.</p>
    <p>Creative. In community. For community.</p>

  </article>
</section>