<footer class="container-fluid">
  <ul class="footer-items">
    <li class="footer-copyright">&copy; Creative Kind</li>
    <li class="social">
      <a href="#">
        <span class="icon icon-instagram"></span>
      </a>
      <a href="#">
        <span class="icon icon-facebook"></span>
      </a>
      <a href="#">
        <span class="icon icon-twitter"></span>
      </a>
    </li>
  </ul>
</footer>