<footer class="container-fluid">
  <ul class="footer-items">
    <li class="footer-copyright">&copy; Quilting Bee</li>
    <li class="social">
      <a href="#">Twitter</a>
      <a href="#">G+</a>
      <a href="#">Facebook</a>
    </li>
  </ul>
</footer>