<div class="container-fluid header-menu">
  <div class="row">
    <div class="col account-nav-toggle">
      {{#if_eq pageId 'login-signup'}}
        <a class="drawer-toggle signup-menu" href="/">
          <span class="icon icon-chevron-left"></span>
        </a>
      {{else}}
        <button class="drawer-toggle" data-toggle="drawer" data-target="#account-drawer" aria-controls="account-drawer">
          <span class="icon icon-user"></span>
        </button>
      {{/if_eq}}
    </div>
    <div class="col title"><h1>{{title }}</h1></div>
    <div class="col sub-menu-toggle">
      <button class="drawer-toggle" data-toggle="drawer" data-target="#submenu-drawer" aria-controls="submenu-drawer">
        <span class="icon icon-menu"></span>
      </button>
    </div>
  </div>
</div>