{{#if user}}
  <div class="invite">
    <label for="invite-field" class="invite-label">Invite Friends</label>
    <input type="text" class="invite-field" id="invite-field" name="invites">
  </div>
{{/if}}