<form class="login-form" action="/account/login" method="post">
  <ul class="form-group">
    <li class="input-field login-field ">
      <input type="text" name="username" class="input-username" placeholder="Username" />
    </li>
    <li class="input-field login-field">
      <input type="password" name="password" class="input-password" placeholder="Password" />
    </li>
    <li class="login-button">
      <input type="submit" value="Login" class="btn-submit submit-login">
    </li>
  </ul>
  <ul class="form-group">
    <li class="or">
      or connect with
    </li>
    <li class="login">
      <a href="/account/login/facebook" class="login-facebook button-facebook">Facebook</a>
    </li>
    <li class="login">
      <a href="/account/login/twitter" class="login-twitter button-twitter">Twitter</a>
    </li>
  </ul>
  <ul class="form-group">
    <li class="forgot-password">
      <a href="/account/recover-password" class="recover-password-cta">Forgot Password</a>
    </li>
  </ul>
</form>