<form class="login-form" action="/account/login" method="post">
  <ul>
    <li class="login-field">
      <input type="text" name="username" class="input-username" placeholder="Username" />
    </li>
    <li class="login-field">
      <input type="password" name="password" class="input-password" placeholder="Password" />
    </li>
    <li class="login-button">
      <input type="submit" value="Login" class="submit-login">
    </li>
    <!-- // Social login disabled
      <li class="or">
        or connect with
      </li>
      <li class="login">
        <a href="/account/login/facebook" class="login-facebook">Facebook</a>
      </li>
      <li class="login">
        <a href="/account/login/twitter" class="login-twitter">Twitter</a>
      </li>
    -->
    </ul>
    <a href="/account/recover-password" class="recover-password-cta">Forgot Password</a>
  </form>