<ul>
  <li class="signup">
    <a href="/login-signup/#signup" class="signup-email">Sign up with E-mail</a>
  </li>
  <li class="or">
    or connect with
  </li>
  <li class="signup">
    <a href="/account/login/facebook/" class="signup-facebook">Facebook</a>
  </li>
  <li class="signup">
    <a href="/account/login/twitter" class="signup-twitter">Twitter</a>
  </li>
  <li class="signin">
    <a href="/login-signup/#login" class="signin-cta">Sign In</a>
  </li>
</ul>