<h2>{{quilt.title}} [{{quilt.type}}]</h2>

{{#if_eq quilt.type "private"}}
  <h5>By: {{quilt._user.username}}</h5>
{{/if_eq}}

{{>theme }}

{{#if patches}}
  <div class="data" id="quilt-data">
    {{quiltData}}
  </div>
  <div class="quilt-container">
    <div id="canvas-container" class="canvas-container">
      <div class="grid-spacer" id="grid-spacer"></div>
      <canvas id="grid-area" class="grid-area"></canvas>
    </div>
    <div class="patch-preview" id="patch-preview"></div>
  </div>
{{/if}}