<li class="quilt" data-title="{{title}}" data-quilt-id="{{id}}">
  {{#if patchData}}
    <div class="data patch-data">
      {{patchData}}
    </div>
  {{/if}}
  <span class="quilt-name">{{title}}</span>
</li>