<form class="signup-form" action="/account/signup" method="post" autocomplete="off">
  {{#if cb}}
    <input type="hidden" name="cb" value="{{cb}}" />
  {{/if}}
  <ul>
    <li class="input-field signup-field">
      <input type="email" name="email" id="user-email" class="input-email" />
      <label for="user-email">E-mail</label>
    </li>
    <li class="input-field signup-field">
      <input type="text" name="username" id="user-username" class="input-username" autocomplete="off" />
      <label for="user-username">Username</label>
    </li>
    <li class="input-field signup-field">
      <input type="password" name="password" id="user-password" class="input-password" autocomplete="off" />
      <label for="user-password">Password</label>
    </li>
    <li class="signup-button">
      <input type="submit" value="Register" class="btn-submit submit-signup">
    </li>
    <li class="or">
      or connect with
    </li>
    <li class="signup">
      <a href="/account/login/facebook" class="signup-facebook button-facebook">Facebook</a>
    </li>
    <li class="signup">
      <a href="/account/login/twitter" class="signup-twitter button-twitter">Twitter</a>
    </li>
    </ul>
  </form>
