<form class="signup-form" action="/account/register" method="post">
  <ul>
    <li class="signup-field">
      <input type="email" name="user[email]" class="input-email" placeholder="E-mail" />
    </li>
    <li class="signup-field">
      <input type="text" name="user[username]" class="input-username" placeholder="Username" />
    </li>
    <li class="signup-field">
      <input type="password" name="user[password]" class="input-password" placeholder="Password" />
    </li>
    <li class="signup-button">
      <input type="submit" value="Sign Up" class="submit-signup">
    </li>
    <li class="or">
      or connect with
    </li>
    <li class="signup">
      <a href="/account/login/facebook" class="signup-facebook">Facebook</a>
    </li>
    <li class="signup">
      <a href="/account/login/twitter" class="signup-twitter">Twitter</a>
    </li>
  </ul>
</form>