<div id="submenu-drawer" class="drawer dw-xs-8 dw-sm-6 dw-md-3 fold" aria-labelledby="submenu-drawer">
  <button class="drawer-toggle" data-toggle="drawer" data-target="#submenu-drawer" aria-controls="submenu-drawer">&times;</button>
  <div class="drawer-contents">
    <ul class="sub-nav">
      <li>
        <a href="#">About Us</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
      <li class="small">
        <a href="#">Faq</a>
      </li>
      <li class="small">
        <a href="#">Terms & Conditions</a>
      </li>
      <li class="small">
        <a href="#">Privacy</a>
      </li>
    </ul>
  </div>
  <a href="https://paypal.com" target="_blank" class="donate"></a>
</div>
