{{#if quilt._theme}}
  <div class="theme-preview">
    {{#each quilt._theme}}
      {{#if colors}}
        <ul class="theme">
          <li class="theme-name">
            {{name}}
          </li>
          {{#each colors}}
            <li class="color-set">
              <ul>
                {{#each colors}}
                  <li class="swatch" style="background-color:#{{this}}">&nbsp;</li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{/each}}
  </div>
{{else}}
  No theme selected.
  {{#if user}}
    {{>theme-selector}}
  {{/if}}
{{/if}}