<ul class="admin-nav">
  <li>
    <a href="/qb-admin/themes/create">Create Theme</a>
  </li>
  <li>
    <a href="/qb-admin/color/create">Create Colour Set</a>
  </li>
</ul>

<h4>Quilt Themes</h4>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Set 1</th>
      <th>Set 2</th>
      <th>Set 3</th>
      <th>Set 4</th>
      <th>Set 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Name</th>
      <td>Set 1</td>
      <td>Set 2</td>
      <td>Set 3</td>
      <td>Set 4</td>
      <td>Set 5</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>Set 1</td>
      <td>Set 2</td>
      <td>Set 3</td>
      <td>Set 4</td>
      <td>Set 5</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>Set 1</td>
      <td>Set 2</td>
      <td>Set 3</td>
      <td>Set 4</td>
      <td>Set 5</td>
    </tr>
  </tbody>
</table>