<form class="create-theme-form" action="/qb-admin/theme/edit" method="post">
  <fieldset class="form-group">
    <label for="color-name">Theme Name</label>
    <input type="text" class="form-control" id="color-name" name="name" placeholder="Set Name">
  </fieldset>

  <fieldset class="form-group">
    <label for="color-set-1">Colour Set 1</label>
    <input type="text" class="form-control" name="set[0][name]" placeholder="Colour Set 1 Name">
    <input type="text" class="form-control" name="set[0][colors][]" placeholder="Colour 1">
    <input type="text" class="form-control" name="set[0][colors][]" placeholder="Colour 2">
    <input type="text" class="form-control" name="set[0][colors][]" placeholder="Colour 3">
    <input type="text" class="form-control" name="set[0][colors][]" placeholder="Colour 4">
    <input type="text" class="form-control" name="set[0][colors][]" placeholder="Colour 5">
  </fieldset>

  <fieldset class="form-group">
    <label for="color-set-2">Colour Set 2</label>
    <input type="text" class="form-control" name="set[1][name]" placeholder="Colour Set 2 Name">
    <input type="text" class="form-control" name="set[1][colors][]" placeholder="Colour 1">
    <input type="text" class="form-control" name="set[1][colors][]" placeholder="Colour 2">
    <input type="text" class="form-control" name="set[1][colors][]" placeholder="Colour 3">
    <input type="text" class="form-control" name="set[1][colors][]" placeholder="Colour 4">
    <input type="text" class="form-control" name="set[1][colors][]" placeholder="Colour 5">
  </fieldset>

  <fieldset class="form-group">
    <label for="color-set-3">Colour Set 3</label>
    <input type="text" class="form-control" name="set[2][name]" placeholder="Colour Set 3 Name">
    <input type="text" class="form-control" name="set[2][colors][]" placeholder="Colour 1">
    <input type="text" class="form-control" name="set[2][colors][]" placeholder="Colour 2">
    <input type="text" class="form-control" name="set[2][colors][]" placeholder="Colour 3">
    <input type="text" class="form-control" name="set[2][colors][]" placeholder="Colour 4">
    <input type="text" class="form-control" name="set[2][colors][]" placeholder="Colour 5">
  </fieldset>

  <fieldset class="form-group">
    <label for="color-set-4">Colour Set 4</label>
    <input type="text" class="form-control" name="set[3][name]" placeholder="Colour Set 4 Name">
    <input type="text" class="form-control" name="set[3][colors][]" placeholder="Colour 1">
    <input type="text" class="form-control" name="set[3][colors][]" placeholder="Colour 2">
    <input type="text" class="form-control" name="set[3][colors][]" placeholder="Colour 3">
    <input type="text" class="form-control" name="set[3][colors][]" placeholder="Colour 4">
    <input type="text" class="form-control" name="set[3][colors][]" placeholder="Colour 5">
  </fieldset>

  <fieldset class="form-group">
    <label for="color-set-5">Colour Set 5</label>
    <input type="text" class="form-control" name="set[4][name]" placeholder="Colour Set 5 Name">
    <input type="text" class="form-control" name="set[4][colors][]" placeholder="Colour 1">
    <input type="text" class="form-control" name="set[4][colors][]" placeholder="Colour 2">
    <input type="text" class="form-control" name="set[4][colors][]" placeholder="Colour 3">
    <input type="text" class="form-control" name="set[4][colors][]" placeholder="Colour 4">
    <input type="text" class="form-control" name="set[4][colors][]" placeholder="Colour 5">
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>