{{#section 'footer'}}
  <script src="/js/patch.min.js"></script>
{{/section}}
<div class="patch-container view-patch">
  <div id="view-container" class="canvas-container select">
    <img src="/patch/svg/{{patch.uid}}" class="grid-spacer" />
  </div>
</div>
<ul class="patch-actions">
  <li class="download"><a href="/patch/download/{{patch.uid}}/png" class="download-link">Download</a></li>
  <li class="social">
    <ul class="shares">
      <li class="social-label">Share</li>
      <li class="social-link instagram">
        <a class="link" href="#">
          <span class="icon icon-instagram"></span>
        </a>
      </li>
      <li class="social-link facebook">
        <a class="link" href="#">
          <span class="icon icon-facebook"></span>
        </a>
      </li>
      <li class="social-link pinterest">
        <a class="link" href="#">
          <span class="icon icon-pinterest"></span>
        </a>
      </li>
    </ul>
  </li>
</ul>