{{#section 'footer'}}
  <script src="/js/patch.min.js"></script>
{{/section}}
<div class="patch-container view-patch">
  <div id="view-container" class="canvas-container select">
    <img src="/patch/svg/{{patch.uid}}" class="grid-spacer" />
  </div>
</div>