<div id="donation-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Great!</h4>
      </div>
      <div class="modal-body">
        <p>Would you like to donate $1 to help our cause?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Yes Please!</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">No Thanks</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->