<div id="login-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close modal-close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title alert">Hold On</h2>
      </div>
      <div class="modal-body">
        <p>To claim that square you need to sign in or sign up.</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary signin-link" href="/account/login" role="button">Login</a>
        <a class="btn btn-secondary signup-link" href="/account/signup" role="button">Sign Up</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->