<div id="login-invite-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close modal-close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title alert">Welcome to {{quilt.title}}</h3>
      </div>
      <div class="modal-body">
        <p>Please start by signing up or logging in</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary get-started-link" href="/account/signup/?cb=/quilts/view/{{quilt._id}}" role="button">Get Started</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
