<div id="welcome-modal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Hey There!</h2>
      </div>
      <div class="modal-body">
        <p>
          Welcome to Creative Kind.<br />
          Please sign up or log in to help<span class="soft-break"></span> design our next donation.
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary signin-link" href="/login-signup/#signin" role="button">Login</a>
        <a class="btn btn-secondary signup-link" href="/login-signup/#signup" role="button">Sign Up</a>
        <a class="btn btn-link view-quilt-link" href="#" role="link" data-toggle="toggle" data-target="#canvas-overlay" data-dismiss="modal">View Quilt</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->