<div id="welcome-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Welcome to Quilting Bee!</h4>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec sapien ac tortor elementum finibus. Vivamus fermentum lobortis quam, in interdum leo tristique vel. Sed sem nibh, vestibulum ac dignissim bibendum, placerat eget quam.</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary signup-link" href="/login-signup/#signup" role="button">Sign Up</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->