<div id="welcome-modal" class="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="logo">Creative <em>KIND</em></h1>
        <h2 class="modal-title">A space to be creative, in community, for community.</h2>
      </div>
      <div class="modal-body">
        <p>
          Each of us has something unique to give. Please enjoy this opportunity to be your most
          creative self by submitting a square to our online canvas. Once the canvas is complete,
          a matching garment will be produced and donated to the Red Door Family Shelter.
        </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link get-started-link" href="#" role="link" data-toggle="toggle" data-dismiss="modal">Get Started</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->