{{#section 'head'}}
<!--  <script src='https://www.google.com/recaptcha/api.js'></script>-->
{{/section}}

{{messages.error}}
{{messages.info}}
{{messages.success}}

<form class="recover-password-form" action="/account/recover-password" method="post">

  <h2>Recover Password</h2>
  <p>Please enter the email address you used to sign up.</p>

  <ul>
    <li class="recover-password-field">
      <input type="email" name="user[email]" class="input-email" placeholder="Email" />
    </li>
    <li class="recover-password-field">
      {{{captcha}}}
    </li>
    <li class="recover-password-button">
      <input type="submit" value="Recover Password" class="submit-recover-password">
    </li>
  </ul>

</form>