{{#section 'head'}}
<!--  <script src='https://www.google.com/recaptcha/api.js'></script>-->
{{/section}}

{{messages.error}}
{{messages.info}}
{{messages.success}}

<form class="recover-password-form" action="/account/recover-password" method="post">

  <h1>Forgot Password</h1>
  <h2>Great acts are made up of small deeds.</h2>

  <ul>
    <li class="recover-password-field">
      <input type="password" name="user[password]" class="input-password" placeholder="Password" />
    </li>
    <li class="recover-password-field">
      <input type="password" name="password-confirm" class="input-password" placeholder="Confirm password" />
    </li>
    <li class="recover-password-button">
      <input type="submit" value="Recover Password" class="submit-recover-password">
    </li>
  </ul>

</form>