{{messages.error}}
{{messages.info}}
{{messages.success}}

<form class="recover-password-form" action="/account/reset" method="post">
  <input type="hidden" name="username" value="{{username}}" />

  <h1>Enter new password</h1>
  <h2>...</h2>

  <ul>
    <li class="recover-password-field">
      <input type="password" name="password" class="input-password" placeholder="Password" />
    </li>
    <li class="recover-password-field">
      <input type="password" name="password-confirm" class="input-password" placeholder="Confirm password" />
    </li>
    <li class="recover-password-button">
      <input type="submit" value="Update Password" class="submit-recover-password">
    </li>
  </ul>

</form>