.drawer-toggle,
.drawer {
  .icon,
  .drawer-toggle {
    display: inline-block;
    font-size: 2.5em;
    vertical-align: middle;
  }
}
.drawer-toggle {
  color: $gray;

  .icon {
    padding: 0 .25em .1em;
    line-height: 100%;
  }
}
.drawer {
  .drawer-toggle {
    padding: 0 .75em;
    font-size: 1em;

    .icon {
      padding: 0 0 .1em;
      line-height: 125%;
    }
  }
}
#account-drawer,
#submenu-drawer {
  top: 0;
  bottom: 0;
  border: 0;
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  .drawer-contents {
    background-color: transparent;

    h2 {
      margin-top: 0;
      padding: 0 .5em;

      .account-type {
        font-size: 40%;
        font-weight: normal;
        letter-spacing: 0;
        vertical-align: middle;
      }
    }
  }
  .list-group {
    border-top: 2px solid rgba($white, .25);

    .list-group-item {
      background-color: transparent;
      border: 0;
      border-radius: 0;
      border-bottom: 1px solid rgba($white, .25);
      padding: 0;

      &.disabled,
      a {
        display: block;
        padding: 0.75rem 1.25em;
      }
    }
  }
}
#account-drawer {
  color: $white;
  background-color: $primary-brand-color;
  margin-left: 0;
  left: 0;
  transform: translateX(-100%);
  transform-origin: left center;

  a,
  button {
    color: $white;
  }
  .drawer-toggle {
    position: relative;
    z-index: 1;
  }
  .drawer-contents {
    position: absolute;
    z-index: 0;
  }
}

#submenu-drawer {
  left: auto;
  right: 0;
  transform: translateX(100%);
  transform-origin: right center;
  background-color: $secondary-brand-color;

  a,
  button {
    color: $primary-brand-color;
  }
  .drawer-toggle {
    float: right;
  }
}