@mixin dark-background() {
  color: $white;
  background-color: $primary-brand-color;
}
@mixin bright-background() {
  color: $white;
  background-color: $accent-brand-color;
}
@mixin line-break() {
  &:after {
    content: ' ';
    display: block;
    height: 0;
  }
}
@mixin triangle-bottom-right($size: 1em, $color: $white) {
  border-left: $size solid transparent;
  border-top: $size solid transparent;
  border-bottom: $size solid $color;
}