@mixin dark-background() {
  color: $white;
  background-color: $primary-brand-color;
}
@mixin bright-background() {
  color: $white;
  background-color: $accent-brand-color;
}
@mixin line-break() {
  &:after {
    content: ' ';
    display: block;
    height: 0;
  }
}