.modal-backdrop {
  background-color: rgba($gray, .75);

  &.in {
    opacity: 1;
  }
}
.modal {
  height: 100vw;
  top: 3.5em;
  @include media-breakpoint-up(md) {
    top: 0;
    height: auto;
  }
}
.modal-dialog {
  padding: 0 1em 1em;
  bottom: 0;
  height: 100%;
  margin: 0 auto;
  position: relative;
  pointer-events: none;
  @include media-breakpoint-up(sm) {
    width: 100%;
    max-width: 560px;
  }
  @include media-breakpoint-up(md) {
    max-width: 620px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 750px;
  }

  .modal-content {
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto;
    border-radius: .6em;
    border: 0;
    overflow: hidden;
  }
  .modal-header {
    border-bottom: 0;
    padding-top: 1.5em;
    padding-bottom: 0;

    .close {
      display: none;
    }
  }
  .modal-title {
    text-align: center;
    font-weight: bold;
    //text-transform: uppercase;
  }
  .modal-body {
    padding: .5em 2.5em 1.5em;

    p {
      text-align: center;
      margin: 0 auto;
      width: 75%;
    }
  }
  .modal-footer {
    text-align: center;
    padding: 0;
    border-top: 1px solid $gray;

    .btn-primary,
    .btn-secondary {
      display: block;
      width: 50%;
      padding: 1.5em 0;
      border-radius: 0;
      border: 0;
      background-color: $white;
    }
    .btn-primary {
      float: right;
      border-left: 1px solid $gray;
      color: $primary-brand-color;
    }
    .btn-secondary {
      color: $off-black;
    }
  }
}
#welcome-modal {
  top: 0;
  height: auto;
  background-color: $welcome-background;

  .modal-content {
    background-color: transparent;
    border: none;
    color: $gray-dark;
  }
  .modal-header {

    .logo {
      color: $primary-brand-color;
      text-align: center;

      em {
        font-style: normal;
      }
    }
    .modal-title {
      line-height: 130%;
      font-size: 1.5em;
      font-weight: normal;
      margin-bottom: 1em;
    }
  }
  .modal-body {
    text-align: center;

    p {
      width: 100%;
    }
  }
  .modal-footer {
    border-top: 0;

    .btn {
      margin: 1em auto;
      float: none;

      &:hover {
        text-decoration: none;
        opacity: .8;
      }
    }
  }
  .get-started-link {
    display: block;
    width: 90%;
    color: $white;
    background-color: $primary-brand-color;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
}
#confirmation-modal {

}
#donation-modal {

  .btn-donate {
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
#save-patch-modal,
#submit-patch-modal {
  .btn-cancel {
    float: left;
  }
}
#flash-modal {
  width: 80%;
  margin: 0 auto;

  .flash {
    color: $black;
  }
  .modal-body {
    padding: 2em 1em;
  }
  .modal-footer {
    .patch-actions {
      margin: 0;

      li {
        line-height: 100%;
      }
      .download {
        border-bottom: 1px solid $gray;
        padding: 1em 0;
      }
      .shares {
        margin: 1em 0;
      }
      .btn {
        width: 100%;
        border-top: 1px solid $gray;
      }
    }
  }
}
#alert-modal {
  .btn-continue {
    width: 100%;
    border-left: 0;
  }
}