.patch-container {
  width: 100%;
  max-width: 800px;

  .toolbar {
    margin: 0 0 25px 0;
    padding: 0;
    overflow: hidden;

    .selected {
      background-color: #ffc520;
      font-weight: bold;
    }
    .tool {
      width: 50%;
      list-style-type: none;
      float: left;
      box-sizing: border-box;

      .label {
        color: #000000;
        font-size: 11px;
        text-align: left;
        white-space: nowrap;
        display: block;
      }
      button {
        width: 100%;
        padding: 20px;
        font-size: 13px;
      }
    }
    .switch {
      list-style-type: none;
    }
  }
  .canvas-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .grid-spacer {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
  }
  .coloring-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .color-palette {
    margin: 25px 0;
    padding: 0;
    overflow: hidden;

    .color {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 20%;
      float: left;
    }
    .color-button {
      width: 100%;
      height: 60px;
      border: 0;
      border-radius: 0;
    }
  }
  .utils {
    text-align: center;

    .line-toggle {
      width: 100%;
      height: 60px;
      border: 1px solid #cccccc;
    }
  }
  #saveData {
    display: none !important;
  }
}
.patch-start-form {

  .theme {
    //background-color: #262626;
    margin: 1em 0;

    .theme-name {
      text-align: center;
      padding: 0.5em 0;
    }
    .swatches {
      @include clearfix();
    }
    .swatch {
      display: block;
      width: 20%;
      height: 2.75em;
      float: left;
    }
  }
}