.patch-container {
  width: 100%;
  max-width: 800px;

  .toolbar {
    margin: 0 0 25px 0;
    padding: 0;
    overflow: hidden;

    .selected {
      background-color: #ffc520;
      font-weight: bold;
    }
    .tool {
      width: 50%;
      list-style-type: none;
      float: left;
      box-sizing: border-box;

      &.multiple { // Hide, multiple selection by default
        display: none;
      }
      .label {
        color: #000000;
        font-size: 11px;
        text-align: left;
        white-space: nowrap;
        display: block;
      }
      button {
        width: 100%;
        padding: 1.5em;
        font-size: 13px;
        border: 1px solid #cccccc;
      }
    }
    .switch {
      list-style-type: none;
    }
  }
  .canvas-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
  }
  .grid-spacer {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
  }
  .coloring-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .color-palette {
    margin: 25px 0;
    padding: 0;
    overflow: hidden;

    .color {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 20%;
      float: left;
    }
    .color-button {
      width: 100%;
      height: 60px;
      border: 0;
      border-radius: 0;
    }
  }
  .palette-selector {
    margin: 2.5em 0 5em;

    .form-group {
      padding: 1em;
    }
    .color-sets {
      li,
      .swatches {
        overflow: hidden; // TODO: replace this with actual clearfix
      }
      li {
        list-style-type: none;
      }
      .swatches {
        margin: .5em 0;

        .swatch {
          width: 20%;
          float: left;
          height: 3em;
        }
      }
      .selection,
      .label {
        float: left;
      }
      .selection {
        width: 10%;
      }
      .label {
        width: 90%;
      }
    }
  }
  #saveData {
    display: none !important;
  }
  .buttons-container {
    @include make-container();
    .apply-button,
    .complete-form {
      @include make-col();
    }
    .apply-button {
      @include make-col-span(4);
    }
    .complete-form {
      @include make-col-span(8);
    }
  }
  #formActions {
    overflow: hidden; // TODO: replace this with actual clearfix

    .action-button {
      width: 50%;
      padding: 1.5em;
      font-size: 13px;
      border: 1px solid #cccccc;
      float: left;
    }
  }
}
.patch-start-form {

  .theme {
    margin: 1em 0;

    .theme-name {
      text-align: center;
      padding: 0.5em 0;
    }
    .swatches {
      @include clearfix();
    }
    .swatch {
      display: block;
      width: 20%;
      height: 2.75em;
      float: left;
    }
  }
}
.patch-list {
  @include make-row();
  list-style-type: none;

  .patch-item {
    @include make-col();
    @include make-col-span(4);
    padding-bottom: 25px;
  }

  .patch-thumb,
  .patch-info {
  }
  .patch-thumb {
  }
  .patch-thumb {

    img {
      width: 100%;
      height: auto;
    }
  }
}
.view-patch {
  .grid-spacer {
    padding-top: 0;
  }
}