.patch-container {
  width: 100%;
  max-width: 800px;
  @include make-container(0);
  @include media-breakpoint-up(md) {
    text-align: center;
  }

  .toolbar {
    margin: 0 0 5px 0;
    padding: 0;
    overflow: hidden;

    .selected {
      background-color: #ffc520;
      font-weight: bold;
    }
    .tool {
      width: 50%;
      list-style-type: none;
      float: left;
      box-sizing: border-box;

      &.multiple { // Hide, multiple selection by default
        display: none;
      }
      .label {
        color: #000000;
        font-size: 11px;
        text-align: left;
        white-space: nowrap;
        display: block;
      }
      button {
        width: 100%;
        padding: 1.5em;
        font-size: 13px;
        border: 1px solid #cccccc;
      }
    }
    .switch {
      list-style-type: none;
    }
  }
  .canvas-container {
    width: 100%;
    height: auto;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
    @include media-breakpoint-up(md) {
      height: 80vh;
      width: 80vh;
      display: inline-block;
    }
  }
  .coloring-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .color-toolbar {
    @include make-row($no-grid-gutter-widths);
    padding: .5em 0;
  }
  .color-palette-toggle,
  .color-palette,
  .apply-button {
    @include make-col-ready($no-grid-gutter-widths);
  }
  .color-palette-toggle {
    @include make-col(1.5);
    padding-left: .5em;

    .btn {
      padding: .45em 0;

      .icon {
        display: block;

        &:before {
          color: $gray-dark;
          font-size: 2.5em;
        }
      }
      .icon-angle-up {
        transform: rotate(180deg);
        transition: transform .3s;
      }
    }
    .collapsed {
      .icon-angle-up {
        transform: rotate(0deg);
      }
    }
  }
  .color-palette {
    @include make-col(9);
    padding: 10px 5px;

    .color {
      list-style-type: none;
      margin: 0;
      padding: 0 8px;
      width: 20%;
      float: left;
      @include media-breakpoint-up(md) {
        max-width: 100px;
        padding: 0 10px;
      }
    }
    .color-button {
      display: block;
      width: 100%;
      padding-top: 100%;
      border: 0;
      border-radius: 50%;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 3px solid rgba($black, .25);
        border-radius: 50%;
      }
    }
  }
  .apply-button {
    @include make-col(1.5);
    background-color: $gray;
    border-top-left-radius: 2.5em;
    border-bottom-left-radius: 2.5em;
    margin-top: .2em;

    .btn {
      width: 100%;
      border: 0;
      padding: .5em 0;
      border-radius: 0;
    }
    .icon {
      font-size: 2rem;
      line-height: 100%;
    }
  }
  .palette-selector-anchor {
    position: relative;
    width: 100%;
    z-index: 1500;
  }
  .palette-selector {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $white;

    legend {
      display: none;
      width: 100%;
      text-align: center;
      border: 1px solid $gray;

      .btn {
        padding: 1em;
        width: 100%;
        color: $gray;
        vertical-align: middle;
      }
      .icon {
        vertical-align: middle;
        font-size: 2em;
        line-height: 100%;
        position: relative;
        top: -6px;
      }
    }
    .form-group {
      padding: 0;
      margin: 0;
      border: 0;
      overflow: hidden;
    }
    .color-sets {
      padding: 1em 0 0;

      li,
      .swatches {
        overflow: hidden; // TODO: replace this with actual clearfix
      }
      li {
        list-style-type: none;
      }
      .color-set {
        &.selected,
        .selection,
        .set-name {
          display: none;
        }
      }
      .color-set {
        border-bottom: 1px solid $gray-light;
      }
      .swatches {
        @include make-row($no-grid-gutter-widths);
        margin: 1.15em 3.45em;

        .swatch {
          @include make-col-ready($no-grid-gutter-widths);
          @include make-col(2.4);
          padding: 0 .5em;
        }
        .swatch-color {
          display: block;
          border-radius: 50%;
          border: 3px solid rgba($black, .25);

          &:before,
          &:after {
            content: '';
            display: block;
          }

          &:before {
            width: 100%;
            padding-top: 100%;
          }
          &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 50%;
          }
        }
      }
      .selection,
      .label {
        vertical-align: middle;
      }
      .label {
        display: block;
      }
    }
  }
  #saveData {
    display: none !important;
  }
}
.buttons-container {
  border-top: 1px solid rgba($gray, .5);
  border-bottom: 1px solid rgba($gray, .5);
  margin: 0 0 3em;
  padding: 0;

  .complete-form {
    @include make-row($no-grid-gutter-widths);
    .action-button,
    .btn-submit {
      @include make-col-ready();
      @include make-col(6);
      padding: 1.25em;
    }
    .action-button {
      font-size: 1em;
      border-right: 1px solid rgba($gray, .5);
    }
    .btn-submit {
    }
  }
}
.start-patch-form {

  .theme {
    margin: 1em 0;

    .theme-name {
      text-align: center;
      padding: 0.5em 0;
    }
    .swatches {
      @include clearfix();
    }
    .swatch {
      display: block;
      width: 20%;
      height: 2.75em;
      float: left;
    }
  }
}
.patch-list {
  @include make-row();
  list-style-type: none;

  li {
    &:first-child {
      margin-top: 0;
    }
  }
  .patch-head,
  .patch-item {
    @include make-col-ready();
  }
  .patch-head {
    @include make-col(12);
    font-size: 1.25rem;
    background-color: $primary-brand-color;
    margin-top: 1em;

    h3 {
      color: $white;
      padding: 0.5em 0;
      margin: 0;
      text-transform: capitalize;
    }
  }
  .patch-item {
    @include make-col(6);
    @include media-breakpoint-up(sm) {
      @include make-col(4);
    }
    @include media-breakpoint-up(md) {
      @include make-col(3);
    }
    padding-bottom: 1em;
  }

  .patch-thumb,
  .patch-info {
  }
  .patch-thumb {
    @include media-breakpoint-down(sm) {
      margin: 0.9em 0;
    }

    .thumb {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .patch-info {
    @include media-breakpoint-down(sm) {
      font-size: .5em;
    }
    h4 {
      @include media-breakpoint-down(sm) {
        font-size: 1em;
      }
    }
    .status {
      display: none;
    }
  }
}
