// Colours -- Brand
$primary-brand-color: #1b4b5d;
$secondary-brand-color: #9bd5d0;

// Colours
$black: #000000;
$white: #ffffff;
$gray: #b2b2b2;
$gray-dark: #565656;
$off-black: #222222;

$facebook-blue: #3e5b97;
$twitter-blue: #64abd9;