@import "../../../bower_components/bootstrap/scss/variables";
@import "../../../bower_components/bootstrap/scss/mixins";
@import "../../../bower_components/bootstrap/scss/images";
@import "../../../bower_components/bootstrap/scss/normalize";
@import "../../../bower_components/bootstrap/scss/utilities";
@import "../../../bower_components/bootstrap/scss/grid";
@import "../../../bower_components/bootstrap/scss/nav";
@import "../../../bower_components/bootstrap/scss/tables";
@import "../../../bower_components/bootstrap/scss/forms";
@import "../../../bower_components/bootstrap/scss/modal";
@import "./utils";
@import "./quilt";
@import "./patch";

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
button {
  border: 0;
  border-radius: 0;
}
th {
  text-align: left;
}
a {
  color: #00B7FF;
}
form {
  ul {

  }
  li {
    list-style-type: none;
  }
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.flash {
  @include fadeOut(5s);
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.contents {
  padding: 2.5% 5% 5%;
}
#account-drawer,
#submenu-drawer {
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
}
#account-drawer {
  margin-left: 0;
  left: 0;
  transform: translateX(-100%);
  transform-origin: left center;

  .drawer-toggle {
    float: right;
  }
}
#submenu-drawer {
  left: auto;
  right: 0;
  transform: translateX(100%);
  transform-origin: right center;
  border-left: 1px solid #dfdfdf;
}
.header-menu {
  .row {
    @include make-row(0);
  }
  .col {
    @include make-col(0);
    @include media-breakpoint-up(md) { // Tablet and above
    }
  }
  .account-nav-toggle,
  .sub-menu-toggle {
    @include make-col-span(2);
  }
  .sub-menu-toggle {
    text-align: right;
  }
  .title {
    @include make-col-span(8);
    text-align: center;
  }
}
.grid-spacer { // Responsive square
  width: 100%;
  height: 0;
  padding-top: 100%;
}