@import "../../../bower_components/bootstrap/scss/variables";
@import "../../../bower_components/bootstrap/scss/mixins";
@import "../../../bower_components/bootstrap/scss/images";
@import "../../../bower_components/bootstrap/scss/normalize";
@import "../../../bower_components/bootstrap/scss/utilities";
@import "../../../bower_components/bootstrap/scss/grid";
@import "../../../bower_components/bootstrap/scss/nav";
@import "../../../bower_components/bootstrap/scss/tables";
@import "../../../bower_components/bootstrap/scss/forms";
@import "../../../bower_components/bootstrap/scss/modal";
@import "../../../bower_components/bootstrap/scss/buttons";
@import "../../../bower_components/bootstrap/scss/button-group";
@import "../../../bower_components/materialize/sass/components/color";
@import "../../../bower_components/materialize/sass/components/variables";
@import "../../../bower_components/materialize/sass/components/normalize";
@import "../../../bower_components/materialize/sass/components/global";
@import "../../../bower_components/materialize/sass/components/typography";
@import "../../../bower_components/materialize/sass/components/forms/input-fields";
@import "./variables";
@import "./mixins";
@import "./utils";
@import "./forms";
@import "./menu";
@import "./quilt";
@import "./patch";
@import "./pages/login-signup";

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 1.5em;
}
button {
  border: 0;
  border-radius: 0;
}
th {
  text-align: left;
}
a {
  color: #00B7FF;
}
form {
  ul {

  }
  li {
    list-style-type: none;
  }
}
footer {
  display: none;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.flash {
  @include fadeOut(5s);
}
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1030;
}
.contents {
  padding: 0;
  height: 100%;
  @include media-breakpoint-up(md) {
    padding: 0 5% 5%;
  }
}
.modal-dialog {
  padding: 0 1em 1em;
  bottom: 0;
  height: 100%;
  margin: 0 auto;
  position: relative;
  pointer-events: none;
  @include media-breakpoint-up(sm) {
    width: 100%;
    max-width: 560px;
  }
  @include media-breakpoint-up(md) {
    max-width: 620px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 750px;
  }

  .modal-content {
    top: 50%;
    transform: translateY(-50%);
    pointer-events: auto;
  }
  .modal-header {
    border-bottom: 0;
  }
  .modal-title {
    text-align: center;
    text-transform: uppercase;
  }
  .modal-body {
    padding: .5em 2.5em 1.5em;
  }
  .modal-footer {
    text-align: center;
  }
}
.header-menu {
  @include make-container(0);
  @include make-container-max-widths(0);
  border-bottom: 1px solid $gray;

  .row {
    @include make-row(0);
  }
  .col {
    @include make-col(0);
    @include media-breakpoint-up(md) { // Tablet and above
    }
  }
  .drawer-toggle {
    display: inline-block;
  }
  .account-nav-toggle,
  .sub-menu-toggle {
    @include make-col-span(2);
  }
  .sub-menu-toggle {
    text-align: right;
  }
  .title {
    @include make-col-span(8);
    text-align: center;
    color: $primary-brand-color;

    h1 {
      margin: .75em 0;
    }
  }
}
.drawer-toggle,
.drawer {
  .icon,
  .drawer-toggle {
    display: inline-block;
    font-size: 2.5em;
    vertical-align: middle;
  }
}
.drawer-toggle {
  color: $gray;

  .icon {
    padding: .05em .25em .2em;
  }
}
.drawer {
  .drawer-toggle {
    padding: 0 10px;
  }
}

.quilt-nav,
.quilt-name,
.data {
  display: none;
}

.grid-spacer { // Responsive square
  width: 100%;
  height: 0;
  padding-top: 100%;
}

#quilt-nav-container {
  @include make-row(0);

  .quilt-nav,
  .quilt-list {
    @include make-col(0);
  }
  .quilt-nav,
  .quilt-name {
    text-align: center;
    color: #666666;
  }
  .quilt-nav {
    @include make-col-span(2);
    display: block;
    border: 1px solid $gray;
    border-top: 0;
    padding: .25em 0 0;
    font-size: 1.75em;
    border-radius: 0;
    margin: 0;
  }
  .quilt-list {
    @include make-col-span(8);
    display: block;
    list-style-type: none;
    position: relative;
  }
  .quilt-name {
    font-weight: bold;
    line-height: 130%;
  }
  .active {
    height: 3em;

    .quilt-nav,
    .quilt-name {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .quilt-name {
      padding: 0 1em;
    }
  }
}
.static-page {
  .contents {
    margin-top: -1em;
    position: relative;
  }
  footer {
    display: block;
    position: absolute;
    bottom: 0;
  }
}