{{#if message}}
  <blockquote>
    {{message}}
  </blockquote>
{{/if}}

<p>Hey there! {{name}} has invited you to collaborate on a design in Creative Kind. Creative Kind is a new
  community-based design initiative that has both a charitable and retail focus. As the name suggests, the business is
  all about tapping into the creative potential in all of us. Humankind is creative. And it is also in our humanity to
  be give back, to be kind.</p>

<p>All you have to do is use our mobile-friendly tool to design and submit a square to our online canvas (it can take
  under 2 minutes!). Once the canvas is complete, a blanket with that same design will be donated to The Red Door Family
  Shelter. </p>

<a href="%recipient.cta%">Click here to get started.</a>

<p>Thanks for contributing and helping us design our next donation!</p>

<p class="signoff">The Creative Kind Team</p>