<form class="forgot-password-form" action="/account/register" method="post">

  <h1>Forgot Password</h1>
  <h2>Great acts are made up of small deeds.</h2>

  <ul>
    <li class="signup-field">
      <input type="forgot-email" name="user[forgot-email]" class="input-email" placeholder="E-mail" />
    </li>
    <li class="signup-field">
      <input type="text" name="user[username]" class="input-username" placeholder="Username" />
    </li>
    <li class="recover-password-button">
      <input type="submit" value="Recover Password" class="submit-recover-password">
    </li>
  </ul>

</form>