{{#section 'footer'}}
  <script src="/js/home.min.js"></script>
{{/section}}

<div id="quilt-nav-container">
  <button class="btn btn-outline-primary quilt-nav nav-prev" data-value="prev">
    <span class="icon icon-chevron-left"></span>
  </button>
  <ul class="quilt-list">
    {{#each quilts}}
      {{>quilt-data this }}
    {{/each}}
  </ul>
  <button class="btn btn-outline-primary quilt-nav nav-next" data-value="next">
    <span class="icon icon-chevron-right"></span>
  </button>
</div>

<div id="quilt-container" class="home">
  <div class="quilt-container">
    <div id="canvas-container" class="canvas-container">
      <div class="grid-spacer" id="grid-spacer"></div>
      <canvas id="grid-area" class="grid-area"></canvas>
    </div>
    <div class="patch-preview" id="patch-preview"></div>
  </div>
</div>

{{>modal/welcome }}

{{>modal/donation }}

{{>modal/quilt-confirmation }}

{{>modal/quilt-alert }}

{{#if user}}

  <h2>Welcome {{user.username}}</h2>
  <ul>
    <li><a href="/account">Account</a></li>
  </ul>

{{else}}
  {{>login-menu }}
{{/if}}